#container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}
#title {
    color: #b82828;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listed {
    display: flex;
    list-style: none;
}
.listed li {
    padding: 10px 20px;
}
.listed li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}